/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
    font-family: "Oswald", sans-serif;
    color: #fff;
}

.title{
    text-align: center;
}

.title p:first-of-type{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}

.title h2{
    font-size: 50px;
    font-weight: 400;
}

.title p:last-of-type{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

/* HEADER */

header{
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 26px 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header__content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 2rem;
    font-weight: 700;
}

.header__content ul{
    list-style: none;
}

.header__content li{
    display: inline;
    padding: 0 26px;
}

.header__content a{
    color: white;
    text-decoration: none;
}

.header__content li a{
    text-transform: uppercase;
    font-size: 17px;
    transition: all 0.5s;
}

.header__content li a:hover{
    color: #e62b4a;
}

.header__content li.active a{
    color: #e62b4a;
}

/* Carousel */

.carousel{
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content{
    text-align: center;
    color: white;
}

.carousel__content p{
    font-size: 25px;
}

.carousel__content h1{
    font-size: 75px;
    line-height: 90px;
}

.carousel__content button{
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s;
}

.carousel__content button:hover{
    background-color: #af2239;
}

.carousel__scroll i{
    margin-top: 50px;
    font-size: 30px;
    animation: arrowDown 1s linear 0s infinite;
}

/* SERVICE */

.service{
    text-align: center;
    padding: 90px 0;
    background-color: black;
}

.service__content{
    width: 75%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.service__slider{
    margin-top: 20px;
}

.service__slider .item{
    width: 214px;
    height: 230px;
    background-color: white;
    color: #848482;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.service__slider .item i{
    font-size: 50px;
    color: #888888;
}

.service__slider.item p{
    font-size: 14px;
}

.service__slider .item::after{
    content: "";
    height: 0;
    width: 5px;
    background-color: #e62b4a;
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s linear;
}

.service__slider .item:hover::after{
    height: 100%;
}

.slick__content .slick-dots li button::before{
    color: #ffffff;
    font-size: 14px;
}

.slick__content .slick-dots li.slick-active button::before{
    color: #e62b4a;
}

/* Start Blog */

.blog{
    padding: 100px 0;
    background-color: #F3F3F3;
}

.title--black p:first-of-type{
    color: grey;
    font-weight: 400;
}

.title--black h2{
    color: black;
}

.title--black p:last-of-type{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.blog__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    width: 75%;
    margin: 50px auto 0;
}

.blog__item{
    overflow: hidden;
    border: none;
    position: relative;
}

.blog__item img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
    transition: all 0.5s;
}

.blog__metro1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog__metro10{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.blog__overlay{
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    opacity: 0;
    transition: all 0.5s;
}

.blog__item:hover .blog__overlay{
    opacity: 1;
}

.blog__icons{
    position: absolute;
    top: 25px;
    right: 25px;
    
}

.blog__icons a{
    text-decoration: none;
}

.blog__icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    transform: translateY(20px);
    transition: all 0.8s;
}

.blog__item:hover .blog__icons i{
    transform: translateY(0);
}

.blog__item i:hover{
    background-color: #000;
    color: #ffffff;
}

.blog__text{
    position: absolute;
    left: 25px;
    bottom: 25px;
    transform: translateY(20px);
    transition: all 0.8s;
}

.blog__text p{
    color: #D0C7C8;
}

.blog__item:hover .blog__text{
    transform: translateY(0);
}

/* number */
.number{
    background-color: #000;
    padding: 100px 0;
}

.number__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number__item{
    width: 25%;
    /* border-right: 3px solid #888888; */
}

.number__item p:first-of-type{
    font-size: 60px;
    font-weight: 300;
}

.number__item p:last-of-type{
    font-size: 20px;
    color: #888888;
}

/* Experience */
.experience{
    background-image: url(../img/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.experience__content{
    width: 75%;
    margin: 30px auto 0;
}

.experience__content video{
    width: 100%;
    object-fit: cover;
    border: none;
    box-shadow: 0 2px  10px 1px rgba(0, 0, 0, 0.5);
    outline: none;
}

/* Contact */
.contact{
    padding: 100px 0;
}

/* .contact .title h2{
    color: #000;
} */

.contact .title--black p:first-of-type{
    color: #888888;
    font-weight: 400;
}


.contact__content{
    width: 70%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
}

.contact__map{
    width: 60%;
}

.contact__map iframe{
    width: 100%;
}

.contact__form{
    width: 40%;
}

.contact__form form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.contact__form input, .contact__form textarea{
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
}

.btnMei{
    padding: 20px 30px;
    border: 1px solid black;
    background-color: #000;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

.btnMei:hover{
    background-color: #e62b4a;
    border-color: #e62b4a;
}

/* Footer */
footer{
    background-color: #000;
}

.footer__content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.footer__content p{
    font-size: 14px;
}

.footer__content a{
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;
}

.footer__content a:hover{
    background-color: #e62b4a;
}

/* Xử lý chuyển động */

@keyframes arrowDown{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(40px);
    }
}